body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;

}

.main-header,
.inner-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
  background-color: #f4f7f9;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.main-header a,
.inner-header a {
  color: #ffffff;
}

.place-order {
  display: flex;
  margin-bottom: 47px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;


}

.logo-wrapper {
  position: relative;
  padding-top: 13px;
  padding-left: 55px;
  padding-right: 45px;
  width: 120px;
  background-color: #ee3643;

}

.logo-wrapper-header::after {
  position: absolute;
  top: 44px;
  left: 0px;
  content: "";
  width: 220px;
  height: 5px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}

.logo-wrapper:hover,
.logo-wrapper:focus {
  background-color: #ca2c37;
}

.logo-wrapper:active {
  background-color: #ba2732;
}

.place-order-link {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 22px;
  background-color: #63a63e;
}

.place-order-link:hover,
.place-order-link:focus {
  background-color: #5fbb2d;
}

.place-order-bookmarks {
  position: relative;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 45px;
  padding-right: 25px;

}

.place-order-bookmarks::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 13px;
  left: 18px;
  background-image: url("/img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.place-order-bookmarks:focus::before,
.place-order-bookmarks:hover::before {
  opacity: 1;
}

.place-order-bookmarks:active::before {
  opacity: 0.5;
}



.place-order-cart {
  position: relative;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 52px;
  padding-right: 31px;

}

.place-order-cart::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 13px;
  left: 21px;
  background-image: url("/img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.place-order-cart:focus::before,
.place-order-cart:hover::before {
  opacity: 1;
}

.place-order-cart:active::before {
  opacity: 0.5;
}


.place-order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.place-order-bookmarks:hover,
.place-order-bookmarks:focus,
.place-order-cart:hover,
.place-order-cart:focus {

  background-color: #212a3a;
}

.place-order-bookmarks:active,
.place-order-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);

}

.header-search-form {
  width: 220px;
  background-color: #293449;
  padding-left: 49px;
  position: relative;

}

.header-search-form::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 13px;
  left: 18px;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;


}

.header-search-form:hover::before {
  opacity: 1;
}

.header-search-form:active::before {
  opacity: 0.3;
}

.header-search-form input {
  min-height: 42px;
  font: inherit;
  border: none;
  background-color: inherit;
  color: #ffffff;

}

.header-search-form:hover,
.header-search-form:focus {
  background-color: #212a3a;

}

.header-search-form input:active {
  background-color: #293449;
}

.main-header h1,
.inner-header h1 {
  width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-wrapper {
  display: flex;
  margin-bottom: 38px;
  margin-left: 53px;
}

.header-wrapper h1 {
  display: block;
  margin: 0;
  padding-right: 0;
  margin-right: 65px;
  text-align: left;
  min-height: 60px;

}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  text-align: center;
}

.inner-header .header-contacts {
  margin-right: 50px;
}

.header-contacts-tel {
  position: relative;
  display: block;
  padding-left: 70px;
  padding-right: 46px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.header-contacts-tel::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 7px;
  left: 14px;
  background-image: url("/img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.header-contacts-address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;

}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;


}


.user-navigation {
  display: flex;
  width: 280px;

}

.login-link a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;
  padding-right: 25px;
  margin-right: 10px;

}

.login-link a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 12px;
  left: 15px;
  background-image: url("/img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link a:hover::before,
.login-link a:focus::before {
  opacity: 1;
}

.login-link a:active::before {
  opacity: 0.3;
}

.registration-link a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;

}

.user-navigation a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.site-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 32px;
  padding-right: 29px;
  vertical-align: middle;
  text-align: center;


}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;

}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  height: 1995px;
  background-color: white;
  margin-bottom: 54px;
}

.main-bottom-wrapper {
  display: flex;
}

.company-info {
  margin-right: 120px;
}

.company-info p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}


.main-contacts p {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 30px;
  width: 206px;
}

.company-info-text {
  display: block;
  width: 385px;

}


.company-info h2,
.main-contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;


}

.transport-companies-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;

}

.transport-companies-list li {
  margin-bottom: 20px;
  margin-left: 36px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 12px 40px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #ee3643;

}

.main-contacts-link {
  display: block;
  width: 220px;

}

.map {
  margin-bottom: 30px;
}



.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #32425c;
  color: #ffffff;
  margin-top: 85px;
}

.footer-top-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.footer-bottom {
  padding-top: 35px;
  display: flex;
  padding-bottom: 30px;
}

.footer-more-wrapper {
  margin-right: 70px;
}

.main-footer .logo-wrapper {
  width: 137px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 41px;
  padding-right: 41px;
  margin-bottom: 30px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}

.footer-contacts {
  width: 324px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #f3f7f9;
  text-align: left;
}


.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav-list,
.footer-nav-list-more {
  display: flex;
  flex-wrap: wrap;
  width: 547px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list a {
  display: block;
  padding-top: 40px;
  color: #ffffff;
}


.footer-nav-list-more a {
  display: block;
  padding-top: 35px;
  padding-left: 20px;
  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}



.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  background-color: #293449;
}

.footer-copyright-text {
  display: block;
  margin: 0;
  padding: 0;
  width: 226px;
  margin-right: 166px;

}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 130px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-right: 120px;
}

.social-list a {
  background-color: #212a3a;
  color: #ffffff;
}

.social-list a:hover,
.social-list a:active,
.social-list a:focus {
  background-color: #ee3643;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 30px;
}

.site-development {
  display: flex;
  width: 300px;
}


.site-development a {
  list-style: none;
  color: #ffd180;
}

.site-development a:hover,
.site-development a:focus {
  text-decoration: underline;
}

.site-development a:active {
  color: #ee3643;
}

.site-development-feedback {
  padding-right: 45px;

}

.modal-write-us {
  margin-top: 10px;
  background-color: transparent;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;

}

.write-us p {
  margin: 0;
  padding: 0;
  display: block;
  width: 219px;

}

.write-us p:first-child {
  margin-right: 20px;
}

.write-us {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
  padding: 60px 80px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us input {
  width: 220px;
  height: 38px;
}

.write-us label {
  display: block;
  margin-bottom: 10px;
}

.modal-write-us .write-us-text-area {
  margin-bottom: 30px;
  padding-top: 20px;
  width: 455px;

}

.write-us-text-area label {
  display: block;
  margin-bottom: 17px;

}

.write-us-text-area textarea {
  min-height: 114px;
  width: 100%;
}

.write-us button {
  list-style: none;
  width: 460px;
}

.modal-container {
  padding: 0;
  margin: 0;
  min-height: 112px;
  width: 620px;
  background-color: #f4f4f4;
}

.inner-header {
  margin-bottom: 28px;
  padding-bottom: 50px;
}

.inner-header .place-order-cart {
  background-color: #ee3643;
  padding-left: 52px;
  padding-right: 26px;
}

.inner-header .header-search-form input {
  min-height: 40px;
}

.inner-header .logo-wrapper-header::after {
  top: 42px;
}

.user-authorised-wrapper {
  width: 300px;
}

.user-authorised-navigation {
  margin: 0;
  padding: 0;
  width: 209px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 20px;

}

.user-authorised-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-authorised-navigation a:hover,
.user-authorised-navigation a:focus {
  color: #ee3643;
  text-decoration: none;
}

.user-authorised-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-authorised-name {
  position: relative;

}

.user-authorised-name::before {
  position: absolute;
  top: 13px;
  left: 16px;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("/img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-authorised-name a {
  display: block;
  width: 186px;
  padding-left: 50px;
  padding-right: 69px;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.user-authorised-name .check-out-link {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 13px;
  right: 8px;
  width: 20px;
  height: 17px;
  background-image: url("/img/icon-logout.svg");
}

.user-authorised-name a:active {
  color: rgba(0, 0, 0, 0.3);
}



.breadcrumbs {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.breadcrumbs-list li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-list a {
  list-style: none;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.main-breadcrumbs a::after,
.catalog-breadcrumbs a::after,
.tool-breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 10px;
  height: 12px;
  width: 8px;
  background-image: url("/img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.main-breadcrumbs a::after {
  top: 0;
  left: 30px;
}

.catalog-breadcrumbs a::after {
  top: 6px;
  left: 65px;
}

.tool-breadcrumbs a::after {
  top: 6px;
  left: 93px;
}

.breadcrumbs-list li:first-child {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 12px;
  background-image: url("/img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page {
  display: flex;
  flex-direction: column;
}

.catalog-wrapper {
  display: flex;
  margin-bottom: 55px;
}

.inner-page-container {
  background-color: #f2f6f8;
}

.inner-page-container h1 {
  padding-left: 28px;
  padding-top: 7px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

}

.filter {
  width: 220px;
  margin-right: 20px;
  /* временно */
  margin-top: 147px;
  /* временно  */
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.manufactures-list li {
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 35px;
}

.manufactures-list label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("/img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: 0px;
}

/* пыталась сделать, чтобы менялся фон у чек боксов при щелчку на инпут, но не работает ((( */
.manufactures-checkbox:checked+.manufactures-list label::before {
  background-image: url("/img/checkbox-on.svg");
}

.power-supply-list li {
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 35px;
}

.power-supply-list label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("/img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: 0px;

}

.filter legend {
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;

}

.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

}

.filter-result-button {
  margin-top: 39px;
  width: 140px;
  height: 38px;
  font-size: 12px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #e5e5e5;
  ;

}


.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* временно */
  margin-top: 90px;
  /* временно */
}

.catalog-item {
  width: 218px;
  height: 317px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:nth-child(3n) .catalog-item-current-price {
  margin-top: 40px;

}

.catalog h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-item-previous-price {
  display: inline-block;
  vertical-align: middle;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  text-align: center;

}

.catalog-item-current-price {
  display: block;
  ;
  width: 70px;
  margin-left: 40px;
  margin-right: 35px;
  min-height: 38px;
  padding-left: 39px;
  padding-right: 37px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  background-image: url(/img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
  text-align: center;
}

.goods-info {
  padding-top: 67px;
  padding-bottom: 70px;
  background-color: #f4f7f9;
}

.modal-cart {
  position: relative;
  width: 620px;
  margin: 0 auto;
  min-height: 282px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.goods-info h2,
.modal-cart h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  list-style: none;
  width: 21px;
  height: 21px;
  background-image: url("/img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: white;
  border: none;
}

.modal-cart h2 {
  position: relative;
  padding-left: 179px;
  padding-right: 66px;
  display: block;
  padding-top: 65px;
  padding-bottom: 65px;
  text-transform: none;
}

.modal-cart h2::before {
  content: "";
  position: absolute;
  top: 44px;
  left: 64px;
  width: 66px;
  height: 66px;
  background-image: url("/img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


}

.goods-info h2 {
  display: block;
  margin-bottom: 30px;
}

.modal-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 122px;
  width: 100%;
  background-color: #f1f1f1;
}

.modal-cart-container a {
  margin-right: 20px;
}

.continue-button {
  background-color: #ffffff;
  color: #000000;
}
